#main {
  height: 100%;
  width: 100%;
  background-color: rgb(141, 245, 210);
  display: grid;
  grid-template-columns: 200px 200px ;
  grid-template-rows:200px 200px ;
 align-items: center;
 justify-items: center;
  
}

.elem {
  background-color: blueviolet;
  border: 3px solid black;
  height: 100px;
  width: 100px;
}
